.review-design
{
  margin: 30px ;
  border: 1px solid rgb(173, 167, 167);
  width: 70%;
  display: flex;
  border-radius: 8px;
  
}

.img-design img
{
  width: 72px;
  margin-right: 10px;
  padding: 5px;
}

.price-color
{
  color: rgb(204, 192, 19);
}

.sub-details-design
{
  margin-top: 10px;
  width:  550px;
  line-height: 5%;
}

.remove-design
{
  width: 25px;
  height: 25px;
  color: tomato;
 
  
}
.rm-btn-design
{
  background-color: lightsalmon;
  border: none;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.rm-btn-design:hover
{
  background-color: rgb(248, 184, 159);
}
.details-design
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}